body {
    background: #ebebeb;;
    width: 800px;
    height: 1000px;

    margin-left: auto;
    margin-right: auto;

    border-width: 2px;
    border-style: dashed;
    border-color: black;

    padding: 20px;
}

h1 {
    color:black;
    font-weight:100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;

}

h3{
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 150%;
}

a {
    color:blue;

}
img.floatbild {
    float: right;
    width: 170px;

}